@keyframes skill {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	to {
		transform: scale(1);
	}
}

@keyframes webdev {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, 10px);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes myname {
	from {
		transform: skewX(0);
	}
	50% {
		transform: skewX(-15deg);
	}
	to {
		transform: skewX(0);
	}
}

// @keyframes btns {
// 	from {
// 		transform: rotate(0);
// 	}
// 	50% {
// 		transform: rotate(360deg);
// 	}
// 	to {
// 		transform: rotate(0);
// 	}
// }

@keyframes rating {
	from {
		width: 0;
	}
	to {
		background-color: $main-color;
	}
}
// @keyframes rating {
// 	from {
// 		transform: ease(0);
// 	}
// 	50% {
// 		// transform: ease(1);
// 	}
// 	to {
// 		background-color: $main-color;
// 	}
// }

@keyframes contacts {
	from {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0.9);
	}
	to {
		transform: scaleX(1);
	}
}

// @keyframes soc {
// 	0% {
// 		transform: translateX(20px)
// 	}
// 	50% {
// 		transform: skewY(-20deg);
// 	}
// 	100% {
// 		transform: rotate3d(1, 1);
// 	}
// }

// анимации из сборки
@keyframes boingInUp {
	0% {
		opacity: 0;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(-90deg);
	}
	50% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(50deg);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(0deg);
	}
}

// @keyframes swap {
// 	0% {
// 		opacity: 0;
// 		transform-origin: 0 100%;
// 		transform: scale(0, 0) translate(-700px, 0px);
// 	}
// 	100% {
// 		opacity: 1;
// 		transform-origin: 100% 100%;
// 		transform: scale(1, 1) translate(0px, 0px);
// 	}
// }

// @keyframes swashIn {
// 	0% {
// 		opacity: 0;
// 		transform-origin: 50% 50%;
// 		transform: scale(0, 0);
// 	}
// 	90% {
// 		opacity: 1;
// 		transform-origin: 50% 50%;
// 		transform: scale(0.9, 0.9);
// 	}
// 	100% {
// 		opacity: 1;
// 		transform-origin: 50% 50%;
// 		transform: scale(1, 1);
// 	}
// }


// @keyframes spaceInRight {
//   0% {
//     opacity: 0;
//     transform-origin: 100% 50%;
//     transform: scale(0.2) translate(200%, 0%); }
//   100% {
//     opacity: 1;
//     transform-origin: 100% 50%;
//     transform: scale(1) translate(0%, 0%); } }

