@keyframes downArrow {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-33px, -33px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(33px, 33px);
	}
}
@keyframes leftUpArrow {
	0% {
		opacity: 0;
		transform: rotate(135deg) translate(-33px, -33px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(135deg) translate(33px, 33px);
	}
}
// 	0% {
// 		bottom: 10px;
// 	}
// 	50% {
// 		bottom: 5px;
// 	}
// 	100% {
// 		bottom: 0;
// 	}
// }
@keyframes skill {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	to {
		transform: scale(1);
	}
}

@keyframes skills {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes webdev {
	from {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-10px, 10px);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes myname {
	from {
		transform: skewX(0);
	}
	50% {
		transform: skewX(-15deg);
	}
	to {
		transform: skewX(0);
	}
}

@keyframes rating {
	from {
		width: 0;
	}
	to {
		background-color: $main-color;
	}
}

@keyframes contacts {
	from {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0.9);
	}
	to {
		transform: scaleX(1);
	}
}

// анимация из сборки
@keyframes boingInUp {
	0% {
		opacity: 0;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(-90deg);
	}
	50% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(50deg);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(0deg);
	}
}
