// $main-color: #4b0092;
// $main-color: rgba(75, 0, 130, .9);
$main-color:	rgba(138,43,226 ,1);
// $main-color:	blueviolet;
$main-color:	#6d33ff;
// $main-color:	#9633ff;
// $main-color:	#5a009c;

$text-color: #E6E6FA;
$background-color: #483D8B;
$hover-color: #00FFFF;
// $hover-color: indigo;
// $hover-color: blue;