@import 'libs/mybootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';


.container {
	width: 1140px;
	margin: 0 auto;
}

body.lock {
	overflow: hidden;
}


@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/price';
@import	'blocks/contacts';
@import	'blocks/pageup';
@import	'blocks/modal';
@import	'blocks/media';


