.contacts {
	padding: 120px 0 90px;
	&__wrap {
		padding: 0 35px 0 52px;
		display: grid;
		grid-template-columns: 500px 485px;
		justify-content: space-between;
	}
	&__photo {
		// grid-row: 1/3;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__descr {
		margin-top: 6px;
	}
	&__title {
		position: relative;
		padding-left: 12px;
		@include before_circle;
	}
	&__subtitle {
		margin: 6px 0 4px;
		animation: contacts 2s infinite;
	}
	&__text,
	&__social {
		margin-top: 20px;
	}
	&__link {
		margin-right: 25px;
		// &:first-child {
		// 	transform: rotate(90deg);
		// }
		&:hover svg path {
			fill: $main-color;
			transition: all 0.5s;
		}
		// img {
		// 	max-width: 30px;
		// 	min-height: 30px;
		// }
		&:nth-child(3) svg {
			transform: rotate(90deg);
		}
		// &:nth-child(1) img, &:nth-child(3) img{
		// 	transform: rotate(90deg);
		// }
		// когда замнить ссылку на вк то удали 1
	}
	&__form {
		margin-top: 30px;
		display: grid;
		grid-template: 45px 190px 45px / repeat(2, 230px);
		justify-content: space-between;
		row-gap: 30px;
	}
	.divider {
		@include divider;
		margin: 0;
	}
	.label_basic {
		display: block;
		position: absolute;
		top: -9px;
		left: 12px;
		height: 18px;
		padding: 0 8px;
		background-color: #fff;
		font-size: 12px;
	}

	// &__triggers {
	// 	grid-column: 1 / 3;
	// 	display: grid;
	// 	grid-template-columns: repeat(2, auto);
	// 	column-gap: 35px;
	// }

	&__input {
		position: relative;
		border: none;
		// &:active {
		// 	border: 3px solid blue;
		// }
		input {
			width: 100%;
			height: 100%;
			padding: 0 20px;
			font-size: 12px;
			
			// font-weight: 500;
			// line-height: 18px;
			// color: black;
		}
	
	}
	&__textarea {
		grid-column: 1 / 3;
		position: relative;
		textarea {
			width: 100%;
			height: 100%;
			resize: none;
			padding: 20px;
			font-size: 12px;
		}
	}
	&__btn {
		border: none;
		// &:active {
		// 	outline: none;
		// }
		&:focus {
			outline: none;
		}
		
		// padding: 12px 26px;
	}
	&__policy {
		position: relative;
		font-size: 12px;
		line-height: 18px;
		align-self: center;
		a {
			color: $main-color;
			&:hover {
				text-decoration-color: $hover-color;
			}
		}
	}
}

#checkbox {
	position: relative;
	top: 2px;
}

#checkbox-error {
	position: absolute;
	top: -27px;
	left: 0px;
	color: $main-color;
	font-size: 13px;
	padding: 0 3px;
}
#name-error, #email-error {
	position: absolute;
	top: -31px;
	left: 0px;
	color: $main-color;
	font-size: 15px;
	border: none;
}
.error, #checkbox {
	border: 1px solid red;
}

// input {
// 	border: 2px solid blue;
// }
input, textarea {
	outline: none;
}
input:focus, textarea:focus {
	border: 2px solid $main-color;
}