@media (max-width: 1300px) {
	// .container {
	// 	padding-left: 30px;
	// }
	.sidepanel {
		display: none;
	}
	// .promo {
	// 	background-position: 90%;
	// }
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.about {
		&__wrap {
			grid-template-columns: 400px 520px;
			column-gap: 40px;
		}
		&__skills {
			column-gap: 20px;
			grid-template: repeat(2, minmax(116px, auto)) / repeat(2, 250px);
			&-item {
				grid-template-columns: 40px 195px;
				column-gap: 15px;
			}
		}
	}
	.resume {
		&__wrap {
			padding: 0 35px;
			column-gap: 40px
		}
	}
	.skills {
		&__items {
			justify-content: space-evenly;
			grid-template-columns: repeat(auto-fit, 270px);
		}
		&__ratings {
			justify-content: space-evenly;
			grid-template-columns: repeat(auto-fit, 350px);
			grid-auto-rows: minmax(70px, auto);
			row-gap: 40px;
		}
	}
	.portfolio {
		&__wrap {
			grid-template-columns: repeat(auto-fit, 280px);
			grid-auto-rows: 280px;
			justify-content: space-evenly;
			row-gap: 13px;
			.vertical, .horizontal {
				grid-row: unset;
				grid-column: unset;
			}
		}
	}
	.contacts {
		&__wrap {
			padding: 0;
			grid-template-columns: 440px 480px;
			column-gap: 40px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	// .sidepanel {
	// 	display: none;
	// }
	.promo {
		background-position: 90%;
	}
	.title {
		&_fz36 {
			font-size: 30px;
		}
	}
	.about {
		&__wrap {
			grid-template-columns: 300px 380px;
		}
		&__skills {
			grid-template-columns: 380px;
			grid-auto-rows: minmax(116px, auto);
			// думаю строку выше надо будет переделать... слишком много минимум картинка хуже выходит
			&-item {
				grid-template-columns: 40px 320px;
				column-gap: 20px;
			}
		}
		// &__photo {
		// 	background-position: left top;
		// }
	}
	.resume {
		&__wrap {
			padding: 0 15px;
			column-gap: 20px;
			grid-template-columns: repeat(2, 337px);
		}
	}
	// .skills {
	// 	&__items {
	// 		padding: 0;
	// 		grid-template-columns: repeat(2, 270px);
	// 	}
	// 	&__ratings {
	// 		margin-top: 40px;
	// 		grid-template-columns: repeat(2, 300px);
	// 		&-line {
	// 			width: 300px;
	// 		}
	// 	}
	// }
	.skills {
		&__items {
			padding: 0;
			// grid-template-columns: repeat(2, 270px);
		}
		&__ratings {
			margin-top: 40px;
			grid-template-columns: repeat(auto-fit, 300px);
			&-line {
				width: 300px;
			}
		}
	}
	.price {
		&__wrap {
			grid-template-columns: repeat(auto-fit, 350px);
			padding: 0;
		}
	}
	.contacts {
		&__wrap {
			grid-template-columns: 300px 380px;
		}
		&__form {
			grid-template-columns: 380px;
			grid-template-rows: 45px 45px 150px 18px 45px;
			grid-auto-rows: minmax(auto, 45px);
			row-gap: 30px;
			label.error {
				// margin-top: 10px;
				margin-top: 3px;
			}
		}
		&__input {
			grid-column: 1 / 2;
		}
		&__textarea {
			grid-column: 1 / 2;
		}
		&__policy {
			position: relative;
			top: 15px;
			grid-row: 4 / 5;
			// grid-column: 1 / 3;
			br {
				display: none;
			}
		}
		&__btn {
			width: 290px;
		}
	}
	// #one {
		// margin-top: 25px;
		// grid-column: 1 / 2;
	// }
	// #two {
		// margin-top: 25px;
		// grid-row: 2 / 3;
		// grid-column: 1 / 2;
	// }
}

@media (max-width: 768px) {
	.divider {
		margin: 15px auto 20px;
	}
	.container {
		max-width: 540px;
		padding-left: 0;
	}
	// .sidepanel {
	// 	display: none;
	// }
	.title {
		&_fz48 {
			font-size: 26px;
		}
	}

	.promo {
		background-position: 85%;
		&__title {
			width: 300px;
			line-height: 39px;
			margin-right: 0;
		}
	}
	.about {
		padding-top: 40px;
		&__wrap {
			grid-template: 400px auto auto / 1fr;
		}
		&__photo {
			grid-row: unset;
			img {
				object-fit: contain;
			}
		}
		&__skills {
			grid-template-columns: repeat(2, 260px);
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
	}
	// .hamburger {
	// 	right: 15px;
	// }
	.resume {
		padding-top: 40px;
		&__wrap {
			grid-template-columns: 1fr;
			row-gap: 40px;
		}
	}
	// .skills {
	// 	padding-top: 40px;
	// 	&__items {
	// 		gap: 2px;
	// 	}
	// 	&__ratings {
	// 		grid-template-columns: 300px;
	// 	}
	// }
	.skills {
		padding-top: 40px;
		&__items {
			gap: 20px;
		}
		&__ratings {
			grid-template-columns: 300px;
		}
	}
	.portfolio {
		padding-top: 40px;
		&__wrap {
			row-gap: 20px;
		}
	}
	.price {
		padding-top: 40px;
		.divider {
			margin-top: 25px;
		}
		&__wrap {
			justify-content: center;
		}
	}
	.contacts {
		padding: 40px 0 50px;
		&__photo {
			display: none;
		}
		&__wrap {
			// padding-left: 40px;
			grid-template-columns: 500px;
			justify-content: center;
		}
		&__title {
			text-align: center;
			padding: 0;
			&::before {
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__subtitle {
			text-align: center;
		}
		.divider {
			margin: 0 auto;
		}
		&__text {
			text-align: center;
		}
		&__social {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			a {
				margin-right: 0;
			}
		}
		&__form {
			grid-template-columns: minmax(auto, 350px);
			justify-content: center;
			// max-width: 500px;
		}
		&__policy {
			text-align: center;
			// margin: 0 auto;
		}
		&__btn {
			margin: 0 auto;
			// position: relative;
			// left: 50%;
			// transform: translate(-50%, 0);
		}
	}
	#checkbox-error {
		left: 50%;
		transform: translateX(-50%);
		min-width: 230px;
	}
}

@media (max-width: 576px) {

	.container {
		width: 100%;
		padding: 0 10px;
	}
	.title {
		&_fz36 {
			margin: 20px 0 15px;
			font-size: 24px;
			line-height: 36px;
		}
	}
	// .sidepanel {
	// 	display: none;
	// }
	.hamburger {
		right: 20px;
	}
	.menu {
		&__block {
			width: 250px;
			padding-top: 100px;
		}
		&__list {
			padding-left: 20px;
		}
		&__social {
			bottom: 80px;
		}
	}
	.promo {
		background-position: right 50px;
		&__btns {
			margin-top: 30px;
			// justify-content: unset;
		}
		// .btn_two {
		// 	background: none;
		// 	margin-left: 30px;
		// 	padding: 0;
		// 	justify-self: start;
		// 	box-shadow: none;
		// }
	}
	.about {
		&__wrap {
			grid-template: 340px auto auto / 1fr;
			// row-gap: 20px;
		}
		&__skills {
			grid-template-columns: 1fr;
		}
	}
	.resume {
		&__wrap {
			padding: 0 5px;
		}
		&__location {
			margin-top: 0;
		}
		// ul {
		// 	display: grid;

		// }
	}
	// .skills {
	// 	&__items {
	// 		grid-template-columns: 270px;
	// 		row-gap: 20px;
	// 	}
	// }
	.price {
		&__wrap {
			grid-template-columns: 300px;
		}
		&__item {
			column-gap:	5px;
		}
	}
	.contacts {
		&__wrap {
			grid-template-columns: 300px;
		}
	}
	// #checkbox-error {
	// 	left: 0px;
	// }
}
