@media (max-width: 1300px) {
	// .container {
	// 	padding-left: 30px;
	// }
	.sidepanel {
		display: none;
	}
	// .promo {
	// 	background-position: 90%;
	// }
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.about {
		&__wrap {
			grid-template-columns: 400px 520px;
			column-gap: 40px;
		}
		&__skills {
			column-gap: 20px;
			grid-template: repeat(2, minmax(116px, auto)) / repeat(2, 250px);
			&-item {
				grid-template-columns: 40px 195px;
				column-gap: 15px;
			}
		}
	}
	.resume {
		&__wrap {
			padding: 0 35px;
			column-gap: 40px
		}
	}
	.skills {
		&__items {
			justify-content: space-evenly;
			grid-template-columns: repeat(3, 270px);
		}
		&__ratings {
			justify-content: space-evenly;
			grid-template-columns: repeat(2, 350px);
			grid-auto-rows: minmax(70px, auto);
			row-gap: 40px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	// .sidepanel {
	// 	display: none;
	// }
	.promo {
		background-position: 90%;
	}
	.title {
		&_fz36 {
			font-size: 30px;
		}
	}
	.about {
		&__wrap {
			grid-template-columns: 300px 380px;
		}
		&__skills {
			grid-template-columns: 380px;
			grid-auto-rows: minmax(116px, auto);
			// думаю строку выше надо будет переделать... слишком много минимум картинка хуже выходит
			&-item {
				grid-template-columns: 40px 320px;
				column-gap: 20px;
			}
		}
		// &__photo {
		// 	background-position: left top;
		// }
	}
	.resume {
		&__wrap {
			padding: 0 15px;
			column-gap: 20px;
			grid-template-columns: repeat(2, 337px);
		}
	}
	.skills {
		&__items {
			padding: 0;
			grid-template-columns: repeat(2, 270px);
		}
		&__ratings {
			margin-top: 40px;
			grid-template-columns: repeat(2, 300px);
			&-line {
				width: 300px;
			}
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
		padding-left: 0;
	}
	// .sidepanel {
	// 	display: none;
	// }
	.title {
		&_fz48 {
			font-size: 26px;
		}
	}

	.promo {
		background-position: 85%;
		&__title {
			width: 300px;
			line-height: 39px;
			margin-right: 0;
		}
	}
	.about {
		padding-top: 40px;
		&__wrap {
			grid-template: 400px auto auto / 1fr;
		}
		&__photo {
			grid-row: unset;
			img {
				object-fit: contain;
			}
		}
		&__skills {
			grid-template-columns: repeat(2, 260px);
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 20px;
			}
		}
	}
	// .hamburger {
	// 	right: 15px;
	// }
	.resume {
		padding-top: 40px;
		&__wrap {
			grid-template-columns: 1fr;
			row-gap: 40px;
		}
	}
	.skills {
		padding-top: 40px;
		&__items {
			gap: 2px;
		}
		&__ratings {
			grid-template-columns: 300px;
		}
	}
}
@media (max-width: 576px) {
	.divider {
		margin: 15px auto 20px;
	}
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.title {
		&_fz36 {
			margin: 20px 0 15px;
			font-size: 24px;
			line-height: 36px;
		}
	}
	// .sidepanel {
	// 	display: none;
	// }
	.hamburger {
		right: 20px;
	}
	.menu {
		&__block {
			width: 250px;
			padding-top: 100px;
		}
		&__list {
			padding-left: 20px;
		}
		&__social {
			bottom: 80px;
		}
	}
	.promo {
		background-position: right 50px;
		&__btns {
			margin-top: 30px;
		}
	}
	.about {
		&__wrap {
			grid-template: 340px auto auto / 1fr;
			// row-gap: 20px;
		}
		&__skills {
			grid-template-columns: 1fr;
		}
	}
	.resume {
		&__wrap {
			padding: 0 10px;
		}
		&__location {
			margin-top: 0;
		}
		// ul {
		// 	display: grid;

		// }
	}
	.skills {
		&__items {
			grid-template-columns: 270px;
			row-gap: 20px;
		}
	}
}
