.price {
	padding-top: 60px;
	&__wrap {
		padding: 0 75px;
		display: grid;
		justify-content: space-between;
		grid-template-columns: 1fr 1fr;
		column-gap: 302px;
	}
	&__column {
		display: grid;
		row-gap: 15px;
		&-item {
			display: grid;
			grid-template-columns: 200px 130px;
			grid-template-rows: minmax(21px, auto);
			justify-content: space-between;
			align-content: space-between;
		}
		&-title {
			position: relative;
			@include before_circle;
			&:before {
				width: 15px;
				height: 15px;
				top: 2px;
				left: -25px;
			}
			// 	left: 12px;
			// }

		}
		&-money {
			justify-self: end;
		}
		&-descr {
			margin-top: 5px;
			font-size: 12px;
			line-height: 18px;
			grid-column: 1 / 3;
		}
	}
}
