.price {
	padding-top: 60px;
	&__wrap {
		padding: 0 50px;
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(2, 366px);
		grid-template-rows: repeat(3, 44px);
		grid-auto-rows: minmax(44px, auto);
		row-gap: 15px;
	}
	&__item {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, minmax(21px, auto));
		padding-left: 25px;
		@include before_circle;
		&:before {
			width: 15px;
			height: 15px;
			top: 2px;
		}
		&-money {
			justify-self: end;
		}
		&-descr {
			margin-top: 5px;
			font-size: 12px;
			line-height: 18px;
			grid-column: 1 / 3;
		}
	}
}
