.promo {
	min-height: 100vh;
	position: relative;
	background: url("../img/main_bg.svg") no-repeat 75% bottom / auto 100%;
	transition: all 0.3s;
	background-color: DarkSlateBlue;
	padding-top: 205px;
	&__title {
		width: 535px;
		margin-top: 10px;
		color: $text-color;
		animation: webdev 1s 2;
	}
	&__subtitle {
		position: relative;
		padding-left: 10px;
		z-index: 0;
		color: $text-color;
		animation: myname 1.5s 2;
		@include before_circle;
	}
	&__btns {
		margin-top: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 300px;
	}
}
