.promo {
	min-height: 100vh;
	position: relative;
	background: url("../img/main_bg.png") no-repeat 75% bottom/ auto 100%;
	// transition: all 0.1s;
	padding-top: 205px;
	&__title {
		width: 535px;
		margin-top: 10px;
	}
	&__subtitle {
		position: relative;
		padding-left: 10px;
		z-index: 1;
		@include before_circle;
	}
	&__btns {
		margin-top: 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 300px;
	}
	&__link {
		color: $text-color;
		font-weight: bold;
		&:hover {
			color: $hover-color;
			text-decoration: none;
		}
	}
}
