.techno {
	padding-top: 120px;
	&__title {
		position: relative;
		text-align: center;
		@include before_circle;
		&:before {
			top: -6px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__subtitle {
		text-align: center;
	}
	&__wrap {
		display: grid;
		grid-template-columns: repeat(4, 270px);
		grid-template-rows: repeat(2, minmax(270px, auto));
		gap: 13px;
		justify-content: center;
		align-content: center;
		grid-auto-rows: minmax(270px, auto);
	}
	&__item {
		padding: 30px;
		border: 1px solid #000000;
		&-img {
			max-width: 100%;
			max-height: 65px;
			margin-bottom: 15px;
		}
		&:nth-child(4) {
			padding-top: 45px;
			img {
				margin-bottom: 28px;
			}
		}
		&:nth-child(7) {
			padding-top: 38px;
			img {
				margin-bottom: 28px;
			}
		}
		&-body {
			margin-top: 15px;
			font-size: 12px;
			line-height: 18px;
		}
	}
}

.loading {
	padding-top: 120px;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-template-rows: repeat(2, 70px);
	column-gap: 45px;
	row-gap: 30px;
	&__item {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	&__title {
		position: relative;
		padding-left: 13px;
		@include before_circle;
		&:before {
			top: -25%;
			left: 0;
		}
	}
	&__percent {
		justify-self: end;
		font-size: 14px;
		line-height: 21px;
	}
	&__strip {
		margin-top: 27px;
		grid-column: 1 / 3;
		background-color: #E8E4DE;
		height: 14px;
		z-index: 10;
	}
	&__full {
		z-index: 111;
		height: 14px;
		background-color: $main-color;
	}
}
